[submodule "terraform/tdr-configurations"]
	path = terraform/tdr-configurations
	url = https://github.com/nationalarchives/tdr-configurations.git
[submodule "terraform/tdr-terraform-modules"]
	path = terraform/tdr-terraform-modules
	url = https://github.com/nationalarchives/tdr-terraform-modules.git
